body{
  background: url("images/pattern-3288824_960_720.jpg") no-repeat center center fixed ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.header{
  box-sizing: inherit;
  display: block;
  
  width: 100%;
  
  

}#headerSection{
  background-color: #C37B89;
  color: #D1E8E4;
  display: flex;
  flex-direction:row;
  justify-content:center;
}
.header-left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:absolute;
  margin-top: 5px;
  margin-left: 5px;
}
#loggan{
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 54px;
  
  
}
.grid-container{
  background: url("images/americana-g6d0d6e759_1280.png")no repeat center;
}

#formularet{
  background-color: #781D42;

  position:none;
  displa
  
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: min-content;
  margin:;
  
}
.inputbox{
  padding: 5px;
  margin:5px 10px ;
  
  justify-content: center;

}

footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #781D42;
  color: #F0D290;
  padding: 40px;
  margin: 0%;
}


#footer-list{
  display: flex;
  align-self: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 10px;
  text-decoration: none;

}
#footer-list a {
  color: #F0D290;
}

.copyright{
  display: center;
  text-align: center;
  font-size: small;
}

#Tack {
  background-color:#781D42;
  color:#F0D290;
  font: 20px sans-serif;
}