.header{
    background-image: url(images/HeaderRip.png);
    min-height: 165px;

  }
  #header-wide{
    top: 0;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
  }
  .headerIconDiv{
    margin-left: 2%;
    margin-top: 0.5%; 
  }
  .headerClass{
    display: flex;
    flex-direction: row;
  
  }
  #header-small{
    top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
  }
  .headerIconSmallDiv{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%; 
  }

  .toggler{
    margin-right: 2%;
    margin-top: 2%;
    height:fit-content;
    width: fit-content;
    border-style: solid;
    border-radius: 5px;
  }
  
  .toggler-span{
      margin-right: 2%;
      margin-top: 2%;
  }
  .toggler:hover{
    background-color: #000000;
    background-size: 200px;
  }
  .barTop, .barMiddle, .barBottom {
    width: 35px;
    height: 5px;
    background-color: darkgrey;
    margin: 6px 6px;
    transition: 0.4s;
    border-radius: 25px;
  }
  .toggler:hover .barTop, .toggler:hover .barBottom{
    width: 20px;
    margin-left: 45%;
  }
  
  
  .headerLinksDiv{
    margin-top: 1.9%;
    margin-left: 1%;
  }
  .headerLinksDiv a{
  margin-left: 16px;
  text-decoration: none;
  color: white;
  padding: 0.75em;
  }
  .headerLinksDiv a:hover {
    background-size: 100px;
    text-shadow: 0 0 30px #ff80ed;
    color: white;
  }
  
  .casesimg{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-image: url(images/pl-18-g210mub-Af_Klint_Svanen_nr12_1914.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 30px;

  }
  .frontimg{
    margin-bottom: 0px;
    height: 420px;
    width: 100%;
    align-self: flex-start;
    background-image: url("images/Inkedhilma-af-klint-utvald-2048x1152_LI.jpg");
    background-size: cover;
  }
  .first-section{
    display: flex;
    flex-direction: column;
    background-image: url(images/HaK537.jpg);
    background-size: cover;
    padding: 100px;

  }
  .textbox-frontpage{
    padding: 50px;
    font-size: 70px;
    text-align: center;
    text-decoration: dotted;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
  }
  
  
  ul {
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.self-pages{
    max-width: 95%;
    display: flex;
}

.li1 {
    height: 40vh;
    flex-grow: 1;
    list-style: none;
    margin: 15px;
    background-color: #ffb980;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    
}
img:hover{
  opacity: 0.6;
}
li:last-child {
    flex-grow: 10;
    opacity: 0;
}

  #sidebar {
    float: left;
    width: 30%;
    padding: 10px;
    border-right: 1px solid darkgray;
    box-sizing: border-box;
  } 
 
  
  .kontaktSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    background-image: url(images/americana-g10748c709_1280.png);
    background-size: cover;
    padding: 100px;
    

  }
  

  #nolaForm-form{
    background-color: bisque;
    padding: 5px;
    border: purple 1px solid;
    margin-left: 10px;
  }

  #nolaForm-message{
    resize: none;
  }
  .contactInfo{
    background-color: black;
    color: white;
    font-family: cursive;
    padding: 5px;
  
  }


  
  @media (max-width: 600px) {
    #main,
    #sidebar {
      width: 100%;
      float: none;
      border: none;
    }
    #header-wide{
      display: none;
    }
    .frontimg{
      margin-bottom: 0px;
      height: 420px;
      width: 100%;
      background-image: url("images/Inkedhilma-af-klint-utvald-2048x1152_LI.jpg");
      background-size: cover;
      background-position: center;
    }
  
  }
  @media (min-width: 600px){
    #header-small{
      display: none;
    }
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    background-color: darkgray;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  html{
    position: relative;
    min-height: 100%;
  }
  #footer-list{
    display: flex;
    align-self: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
  
  }
  #footer-list a {
    color: darkgray;
  }
  footer{
    background-color: black;
    color: darkgray;
    padding: 40px;
    margin-top: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
  .copyright{
    display: center;
    text-align: center;
    font-size: small;
  }
    
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  .closeBtnDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  


