<<<<<<< HEAD:style.css
body{
<<<<<<< HEAD:style.css
  background: url("images/pattern-3288824_960_720.jpg") no-repeat center center fixed ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.header{
  box-sizing: inherit;
  display: block;
  
  width: 100%;
  
  

}#headerSection{
  background-color: #C37B89;
  color: #D1E8E4;
  display: flex;
  flex-direction:row;
  justify-content:center;
}
.header-left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:absolute;
  margin-top: 5px;
  margin-left: 5px;
}
#loggan{
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 54px;
  
  
}

/******    Sektionen som innehåller navbar     *******/
#headerSection{
    background-image: url("images/StarsBackground.jpg");
    background-position: center center;
    background-size: 100% auto;
    min-height: 100px;
    text-align: center;
>>>>>>> e02a975c6fe0dfe0da07f955182601b441664ca7:styles.css
}
/****         En glow effekt på alla a element i headern  ****/
#headerSection a:hover {
    text-shadow: 0px 8px 8px #781D42; 
}
/*****    Gör texten i headern tjockare för att synas bättre   **********/
#headerSection a{
    color: #F0D290;
    font-weight: 500;
}
#navbarBtn:active{
    outline-color: #781D42;
}
footer{
    background-color: #781D42;
    color: #F0D290;
    padding: 40px;
}
#navbarBtn {
    border-color: #F0D290;
    background-color: #781D42;
}
=======
.header{
    background-image: url(images/HeaderRip.png);
    min-height: 165px;
  }
  #header-wide{
    top: 0;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
  }
  .headerIconDiv{
    margin-left: 2%;
    margin-top: 0.5%; 
  }
  .headerClass{
    display: flex;
    flex-direction: row;
  
  }
  #header-small{
    top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
  }
  .headerIconSmallDiv{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%; 
  }
>>>>>>> 47b172329fe4afe83c6447b5a720b670ad3bf029:styles.css

  .toggler{
    margin-right: 2%;
    margin-top: 2%;
    height:fit-content;
    width: fit-content;
    border-style: solid;
    border-radius: 5px;
  }
  
  .toggler-span{
      margin-right: 2%;
      margin-top: 2%;
  }
  .toggler:hover{
    background-color: #000000;
    background-size: 200px;
  }
  .barTop, .barMiddle, .barBottom {
    width: 35px;
    height: 5px;
    background-color: darkgrey;
    margin: 6px 6px;
    transition: 0.4s;
    border-radius: 25px;
  }
  .toggler:hover .barTop, .toggler:hover .barBottom{
    width: 20px;
    margin-left: 45%;
  }
  
  
  .headerLinksDiv{
    margin-top: 1.9%;
    margin-left: 1%;
  }
  .headerLinksDiv a{
  margin-left: 16px;
  text-decoration: none;
  color: white;
  padding: 0.75em;
  }
  .headerLinksDiv a:hover {
    background-size: 100px;
    text-shadow: 0 0 30px #ff80ed;
    color: white;
  }
  
  
  #main {
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  #sidebar {
    float: left;
    width: 30%;
    padding: 10px;
    border-right: 1px solid darkgray;
    box-sizing: border-box;
  }
  @media (max-width: 600px) {
    #main,
    #sidebar {
      width: 100%;
      float: none;
      border: none;
    }
    #header-wide{
      display: none;
    }
  
  }
  @media (min-width: 600px){
    #header-small{
      display: none;
    }
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    background-color: darkgray;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  html{
    position: relative;
    min-height: 100%;
  }
  #footer-list{
    display: flex;
    align-self: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
  
  }
  #footer-list a {
    color: darkgray;
  }
  footer{
    background-color: black;
    color: darkgray;
    padding: 40px;
    margin-top: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
  .copyright{
    display: center;
    text-align: center;
    font-size: small;
  }
    
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  .closeBtnDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  


