html{
    position: relative;
    min-height: 100%;
}
/*BODY STYLE*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 0px;
}
/*HEADER STYLES*/
.header{
    background-image: url(images/HeaderRip.png);
    min-height: 165px;
}
#header-wide{
    top: 0;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
}
.headerClass{
    display: flex;
    flex-direction: row;
}
.headerIconDiv{
    margin-left: 2%;
    margin-top: 0.5%; 
}
.headerIconDiv img{
    height: 80px;
    object-fit: contain;
}
.headerLinksDiv{
    margin-top: 1.9%;
    margin-left: 1%;
}
.headerLinksDiv a{
    margin-left: 16px;
    text-decoration: none;
    color: white;
    padding: 0.75em;
}
.headerLinksDiv a:hover {
    background-size: 100px;
    color: white;
    opacity: 80%;
}
#header-small{
    top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
}
.headerIconSmallDiv{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%; 
}
.headerIconSmallDiv img{
    height: 80px;
    object-fit: contain;
}
/*DROP DOWN MENU*/
.dropdown-button{

    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;

    border: 0;

    padding-left: 20px;

    background: none;

    color: white;

    font-size: 20px;

}

.aboutus-drop{

    position: relative;

    display: inline-block;

}

.dropdown-content{

    display: none;

    position: absolute;

    /* min-width: none; */

    z-index: 1;

}

.dropdown-content a{

    padding: 12px 16px;

    text-decoration: none;

    display: block;

}

.dropdown-content a:hover{

    background-color: #f1f1f1;

    color: black;

}

.aboutus-drop:hover .dropdown-content{

    display: block;

}

.aboutus-drop:hover .dropdown-content{

    background-color: black;

    opacity: 80%;

    margin: 0;

}
/*HAMBURGER MENU STYLE*/
.toggler{
    margin-right: 2%;
    margin-top: 2%;
    height:fit-content;
    width: fit-content;
    border-style: solid;
    border-radius: 5px;
} 
.toggler-span{
    margin-right: 2%;
    margin-top: 2%;
}
.toggler:hover{
    background-color: #000000;
    background-size: 200px;
}
.barTop, .barMiddle, .barBottom {
    width: 35px;
    height: 5px;
    background-color: darkgrey;
    margin: 6px 6px;
    transition: 0.4s;
    border-radius: 25px;
}
.toggler:hover .barTop, .toggler:hover .barBottom{
    width: 20px;
    margin-left: 45%;
}
/*HAMBURGER MENU WHEN PUSHED, WINDOW STYLE*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.closeBtnDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color:#ffffff;
    display: block;
    transition: 0.3s;
}
/*MAIN CONTAINER STYLE*/
.flexbox-container{
    display: flex;
    flex-direction: column;
}
/*FIRST "LOGO" IMAGE STYLE*/
.front-img{
    margin-bottom: 0px;
    height: 500px;
    width: 100%;
    align-self: flex-start;
    background-image: url("images/Inkedhilma-af-klint-utvald-2048x1152_LI.jpg");
    background-size: cover;
}
/*FIRST SECTION AFTER "LOGO" IMAGE IN MAIN CONTAINER STYLE*/
.first-section{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.first-section p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/*BUTTON STYLE FOR BUTTON IN FIRST SECTION*/
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    touch-action: manipulation;
}
.button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
.button-52:hover:after {
    top: 0px;
    left: 0px;
}
/*STYLE FOR LINK*/
.textbox-link{
    padding: 10px;
    font-size: 70px;
    text-align: center;
    text-decoration: dotted;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 50px;    
}
.textbox-link a{
    text-decoration: none;
    color: #000000;
}
/*CONTAINER STYLE FOR CASE GRID*/
.cases-container{
    padding-left: 50px;
    padding-right: 50px;
    
}
/*GRID STYLE FOR CASE IMAGES*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
}
.column img {
    background-color: #ffe54c;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; 
    border-radius: 3px;
}
.column img:hover{
    opacity: 50%; 
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
    background-image: url(images/pl-18-g210mub-Af_Klint_Svanen_nr12_1914.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 30px;

  }
#portfolio1,#portfolio2,#portfolio3,#portfolio4{
    flex: 20%;
    max-width: 25%;
    position: relative;
}
#portfolio1 img{
    border-radius: 200px;
    margin-top: 50px;
}
#portfolio2 img{
    border-radius: 200px;
    margin-top: 50px;
}
#portfolio3 img{
    border-radius: 200px;
    margin-top: 50px;
}
#portfolio4 img{
    border-radius: 200px;
    margin-top: 50px;
}
.centered {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 /*STYLE FOR CONTACT SITE!*/ 
.kontaktSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}
#nolaForm-form{
    text-align: center;
    background-color: rgb(255, 226, 96);
    padding: 5px;
    border: rgb(0, 0, 0) 5px solid;
    margin-left: 10px;
}
#nolaForm-message{
    resize: none;
}

.find-us{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.find-us a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.map{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    width: 100%;
    
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:514px;
    width:541px;
}
.mapouter{
    position:relative;
    text-align:right;
    height:514px;
    width:541px;
}
/*STYLE FOR PORTFOLIO PAGE*/
.header-text{
    margin-top: 200px;
    margin-left: 30px;

}
.portfolio-text{
    margin-left:30px;
}
.portfolio-margin{
    height: 200px ;
}

/*STYLE FOR OSKARS PAGE*/

.oskar-flexbox-container{
    padding: 150px;
    display: flex;
    margin: 20px;
    font: arial;

}

.oskar-row{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    width: 100%;
}


.oskar-column{
    display: flex;
}
.oskar-column2{
    display: flex;
    flex-direction: column;
    flex: 50%;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.li{
    transition: color 1s;
}

li:hover{
    color: deeppink;
}

.profile-picture{
    border-radius: 90%;
    width: 250px;
    height: 300px;
    object-fit: contain;
}
/*STYLE FOR LINNS PAGE*/

.linn-flexbox-container{
    padding: 150px;
    padding-top: 70px;
    display: flex;
    margin: 20px;
    font: arial;
}

.linn-row{
    flex-direction: row;
    padding: 100px;
    flex-wrap: wrap;
}


.linn-column{
    flex-direction: row;
    display: flex;
    flex: 20%;
}
.linn-column2{
    flex-direction: column;
    display: flex;
    flex: 20%;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.linn-flexbox-container img{
    border-radius: 90%;
    width: 300px;
    object-fit: contain;

}

/*STYLE FOR NASIR PAGE*/

.oskar-flexbox-container{
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-style: inherit;
    display: flex;
    flex-direction: row;
}
#n_flex.oskar-flexbox-container{
    background: url(images/nasir_bg.jpg) no-repeat center;
    background-size: cover;
}

.oskar-row{
    display: flex;
    flex-direction: row;
    padding: 100px;
    flex-wrap: wrap;
}


.oskar-column{
    display: flex;
    flex-direction: column;
    flex: 40%;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    padding-left: 15px;
    display: flex;
    align-items: center;
}
#n_info{
    margin-top: 10px;
    padding-left: 15px
}
#n_info:hover{
    background-color: black
}
#n_info p:hover{
    color: deeppink;
}
#nasir_list.list:hover{
    background-color: black;
    
}
.li{
    transition: color 1s;
}

li:hover{
    color: deeppink;
}

.profile-picture{
    border-radius: 90%;
    }

#nasir_pp.profile-picture{
    border-radius: 30%;
    height: 650px;
    width: 600px;
    border-style:ridge;
    border-color: burlywood;
    
    
    
}
/*SKILLS BAR STYLE*/
.skills-bar{
    width: 387px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}


.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0 , 0.05);
    
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: pink;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
#l_bar.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: rgb(4, 78, 14);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1);

    }
}
#l_c.progress-line.c span{
    width: 50%;
}
#l_arduino.progress-line.arduino span{
    width: 80%;
}
#l_java.progress-line.java span{
    width: 95%;
}
#o_html.progress-line.html span{
    width: 80%;
}
#o_mysql.progress-line.mysql span{
    width: 95%;
}
#o_css.progress-line.css span{
    width: 65%;
}
#o_java.progress-line.java span{
    width: 80%; 
}
#n_html.progress-line.html span{
    width: 50%;
}
#n_css.progress-line.css span{
    width: 45%;
}
#n_java.progress-line.java span{
    width: 80%;
}
#n_mysql.progress-line.mysql span{
    width: 100%;
}


.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;

}
.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -24px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
}
#l_c.progress-line.c span::after{
    content:"50%";
}
#l_arduino.progress-line.arduino span::after{
    content: "80%";
}
#l_java.progress-line.java span::after{
    content: "95%";
}
#o_html.progress-line.html span::after{
    content: "80%";
}
#o_css.progress-line.css span::after{
    content: "65%";
}
#o_java.progress-line.java span::after{
    content: "80%";
}
#o_mysql.progress-line.mysql span::after{
    content: "95%";
}
#n_html.progress-line.html span::after{
    content: "50%";
}
#n_css.progress-line.css span::after{
    content: "45%";
}
#n_java.progress-line.java span::after{
    content: "80%";
}
#n_mysql.progress-line.mysql span::after{
    content: "100%";

}
/*STYLE FOR FOOTER*/
#footer-list{
    display: flex;
    align-self: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
}
#footer-list a {
    color: darkgray;
}
footer{
    background-color: black;
    color: darkgray;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.copyright{
    display: flex;
    justify-content: center;
    font-size: small;
}

@media (min-width: 600px){
    #header-small{
      display: none;
    }
}
@media screen and (max-width: 800px) {
    .column {
      flex: 48%;
      max-width: 50%;
    }
    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 650px;
        background-image: url(images/pl-18-g210mub-Af_Klint_Svanen_nr12_1914.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        padding-top: 30px;
    }
}
@media screen and (max-width: 600px) {

    #header-wide{
      display: none;
    }
    .headerIconSmallDiv img{
        height: 120px;
        object-fit: contain;
    }
    .front-img{
      margin-bottom: 0px;
      height: 420px;
      width: 100%;
      background-position: center;
    }
    .column{
        flex:100%;
        max-width: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        background-image: url(images/pl-18-g210mub-Af_Klint_Svanen_nr12_1914.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        padding-top: 30px;
    }
    .centered{
        font-size: 15px;
    }
    .oskar-flexbox-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .oskar-column{
        flex: 100%;
    }
    .linn-flexbox-container{
        padding-top: 150px;
        padding-bottom: 200px;
        padding-left: 0px;
    }
    .linn-row{
        padding:0;
    }
    .linn-column{
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
    }
    .linn-column2{
        flex: 100%;
        max-width: 100%;
    }
    #nasir_pp.profile-picture{
        border-radius: 70%;
    height: 500px;
    width: 500px;

    }
}

